.bag-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    background-color: #f7f9fa;
}

.bag-title-obvious {
    font-size: 20px;
    font-weight: bold;
    transition: all 1s;
    color: #8bc34a;
}


