{
    "extends": "eslint-config-egg",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "no-unused-vars": "off",
        "spaced-comment": "off",
        "object-curly-spacing":"off"
    }
}
